include /elements/images

mixin form-checkbox({ text, name, id, isRequired, className })
  .f-checkbox(class=className)
    input.visually-hidden(type="checkbox" id=id name=name required=isRequired)
    label.f-checkbox__label(for=id)
      .f-checkbox__icon
        +svg({ name: "icon-check", width: 16, height: 16 })
      .f-checkbox__text=text
