mixin favicon({ })
  link(rel="icon" href=`${baseUrl}/favicon/favicon.svg?v=${searchId}` type="image/svg+xml")
  link(rel="icon" href=`${baseUrl}/favicon/favicon.png?v=${searchId}` type="image/png")
  link(rel="icon" href=`${baseUrl}/favicon.ico`)
