include /elements/images

mixin tab-categories({ className })
  .tab-categories(class=className)
    -
      let btnsCategories = [
        {
          idCategory: 0,
          text: 'Все',
          color: 'ghost',
          isActv: true
        },
        {
          idCategory: 1,
          color: 'green',
          text: 'Прайм'
        },
        {
          idCategory: 2,
          color: 'pink',
          text: 'Искра'
        },
        {
          idCategory: 3,
          color: 'purple',
          text: 'Дива'
        },
        {
          idCategory: 4,
          color: 'blue',
          text: 'Успех'
        }
      ]
    button.tab-categories__drop-btn.js-drop-btn
      .tab-categories__drop-bg(class=btnsCategories[0].color)
      span=btnsCategories[0].text
      +svg({ name: "arrow-circle-bottom" })
    .tab-categories__menu.js-drop-menu
      .tab-categories__list
        each it in btnsCategories
          button.tab-categories__btn.js-drop-value(
            class=(it.isActv && "actv")
            class=it.color
            data-category-id-btn=it.idCategory
          )
            span=it.text
