include /elements/images

mixin form-checkbox-betboom({ text, name, id, isRequired, className })
  .f-checkbox-betboom(class=className)
    input.visually-hidden(type="checkbox" id=id name=name required=isRequired)
    label.f-checkbox-betboom__label(for=id)
      .f-checkbox-betboom__icon
        +svg({ name: "icon-check", width: 16, height: 16 })
      .f-checkbox-betboom__text=text
