include /components/card/card-blogger

mixin card-winner({ title, gradient, ring, isShow, className })
  include /mocks/bloggers
  .c-winner.js-accordion(class=className class=isShow && "show")

    button.c-winner__btn.js-accordion-btn
      .gradient(class=gradient)
      .ring(class=ring)
      .c-winner__category Категория
      .c-winner__bottom
        div
          .c-winner__title=title
          .c-winner__subtitle победители и финалисты
        .c-winner__icon
          div
    .c-winner__drop.js-accordion-content
      .c-winner__content
        each it, i in bloggersMock
          if (i < 3)
            +card-blogger({ it, color: gradient, winner: i + 1 })
